.dialogs {
    display: flex;
    justify-content: space-evenly;

}

.dialogs__item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}