.navbar {
    width: 250px;
    background-color: cadetblue;
    margin-right: 20px;
}

.item__block {
    margin: 20px;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: gold;
    text-decoration: none;
}

.friends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.friends__title {
    color: gold;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.friends__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

