.item {
    display: flex;
    align-items: center;
    padding-top: 20px;
    text-decoration: none;
}

.post__avatar {
    width: 40px;
}

.post__text {
    font-size: 20px;
    padding-left: 20px;
}

.likes {
    color: white;
    padding-left: 60px;
}
