.container {
    margin: 0 auto;
    background-color: aquamarine;
    height: 100vh;
    width: 1450px;
}

.app__wrapper {
    display: flex;
}

.app__wrapper__content {
    width: 1180px;
    background-color: seagreen;
}